* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
:root {
  --dark: #1f2937;
  --mainText: #f9faf8;
  --subText: #e5e7eb;
  --highlight: #3882f6;
  --darkGrey: #6d747d;
  --lightGrey: #e5e7eb;

  --fw-sl: 100;
  --fw-l: 300;
  --fw-m: 500;
  --fw-b: 700;

  --fs-i: italic;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: var(--dark);
  padding-top: 1vh;
}

.header-logo {
  margin-left: 10%;
  margin-right: auto;
  color: var(--mainText);
  font-weight: var(--fw-m);
  font-size: 1.75rem;
}

.header-nav-container {
  margin-right: 10%;
}

.header-nav {
  display: flex;
  gap: 3rem;
}

.header-nav > a {
  color: var(--subText);
  font-weight: var(--fw-l);
  cursor: pointer;
  text-decoration: none;
  font-size: 1rem;
}

.hero {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background: var(--dark);
  padding: 4rem 0;
}

.hero-left,
.hero-right {
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.hero-left {
  margin-left: 10%;
  max-width: 30%;
}

.hero-right {
  position: relative;
  margin-right: 10%;
  width: 30%;

  background: var(--darkGrey);
}

.match-sibling {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: auto;
}
.hero-title {
  color: var(--mainText);
  font-weight: var(--fw-b);
  font-size: 4rem;
}

.hero-p {
  color: var(--subText);
  font-size: 1.5rem;
  margin-bottom: 2vh;
  font-weight: var(--fw-l);
}

.hero-button {
  color: var(--mainText);
  background: var(--highlight);
  border: none;
  font-size: 1.2rem;
  padding: 0.5rem 2.5rem;
  border-radius: 10px;
  cursor: pointer;
}

.main {
  background: var(--mainText);
  width: 100%;
  padding-bottom: 15vh;
  min-height: 50vh;
}

.main-subtitle {
  display: flex;
  justify-content: center;
  font-size: 3rem;
  padding: 3rem;
}

.main-imgs {
  display: flex;
  justify-content: space-around;
  margin: 0 22%;
}

.main-img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.main-img-p {
  max-width: 15vh;
  font-weight: var(--fw-l);
}

.main-img {
  height: 20vh;
  width: 20vh;
  border: 4px solid var(--highlight);
  border-radius: 20px;
  margin-bottom: 1rem;
}

.quote-wrapper {
  background: var(--lightGrey);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem;
  min-height: 50vh;
}

.quote {
  max-width: 60%;
  display: flex;
  flex-direction: column;
}

.quote-body {
  margin-bottom: 2rem;
  font-size: 3rem;
  font-weight: var(--fw-sl);
  font-style: var(--fs-i);
}

.source {
  align-self: flex-end;
  font-weight: var(--fw-b);
  font-size: 1.75rem;
}

.signup-wrapper {
  background: var(--mainText);
  width: 100%;
  display: flex;
  justify-content: center;
  max-width: 80%;
  margin: 15vh 0;
}

.signup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: var(--highlight);
  padding: 4rem;
  border-radius: 1.25rem;
}

.signup-left {
  margin-left: 13%;
}

.signup-right {
  margin-right: 13%;
}

.signup-title {
  color: var(--mainText);
  font-size: 2rem;
}

.signup-p {
  color: var(--subText);
  font-size: 1.25rem;
  font-weight: var(--fw-l);
}

.signup-button {
  color: var(--mainText);
  background: var(--highlight);
  border: 2px solid var(--mainText);
  font-size: 1.2rem;
  padding: 0.5rem 2.5rem;
  border-radius: 10px;
  cursor: pointer;
}

.footer {
  background: var(--dark);
  width: 100%;
  display: flex;
  justify-content: center;
}

.footer-title {
  color: var(--mainText);
  padding: 2rem 0;
  font-weight: var(--fw-l);
  font-size: 1.5rem;
}
